# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
assets/tag_blue.png
assets/tag_green.png
assets/tag_pink.png
assets/tag_yellow.png
assets/tag/tag__icon.png
assets/tag/tag__name.png
assets/tag/tag__weapon.png
assets/tag/tag__weaponname.png
assets/tag/tag_b.png
assets/tag/tag_g.png
assets/tag/tag_p.png
assets/tag/tag_y.png
assets/fonts/CustomIcon.ttf
assets/tag/background_high.png
assets/tag/background_none.png
assets/tag/roulette_start.png
