# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
assets/tag_blue.png
assets/tag_green.png
assets/tag_pink.png
assets/tag_yellow.png
assets/tag/tag__icon.png
assets/tag/tag__name.png
assets/tag/tag__weapon.png
assets/tag/tag__weaponname.png
assets/tag/tag_b.png
assets/tag/tag_g.png
assets/tag/tag_p.png
assets/tag/tag_y.png
assets/fonts/CustomIcon.ttf
assets/tag/background_high.png
assets/tag/background_none.png
assets/tag/roulette_start.png
lib/Weapon/Images/52gal_becchu.jpg
lib/Weapon/Images/52gal_deco.jpg
lib/Weapon/Images/52gal.jpg
lib/Weapon/Images/96gal_deco.jpg
lib/Weapon/Images/96gal.jpg
lib/Weapon/Images/bamboo14mk1.jpg
lib/Weapon/Images/bamboo14mk2.jpg
lib/Weapon/Images/bamboo14mk3.jpg
lib/Weapon/Images/barrelspinner_deco.jpg
lib/Weapon/Images/barrelspinner_remix.jpg
lib/Weapon/Images/barrelspinner.jpg
lib/Weapon/Images/bold_7.jpg
lib/Weapon/Images/bold_neo.jpg
lib/Weapon/Images/bold.jpg
lib/Weapon/Images/bottlegeyser_foil.jpg
lib/Weapon/Images/bottlegeyser.jpg
lib/Weapon/Images/bucketslosher_deco.jpg
lib/Weapon/Images/bucketslosher_soda.jpg
lib/Weapon/Images/bucketslosher.jpg
lib/Weapon/Images/campingshelter_camo.jpg
lib/Weapon/Images/campingshelter_sorella.jpg
lib/Weapon/Images/campingshelter.jpg
lib/Weapon/Images/carbon_deco.jpg
lib/Weapon/Images/carbon.jpg
lib/Weapon/Images/clashblaster_neo.jpg
lib/Weapon/Images/clashblaster.jpg
lib/Weapon/Images/dualsweeper_custom.jpg
lib/Weapon/Images/dualsweeper.jpg
lib/Weapon/Images/dynamo_becchu.jpg
lib/Weapon/Images/dynamo_tesla.jpg
lib/Weapon/Images/dynamo.jpg
lib/Weapon/Images/explosher_custom.jpg
lib/Weapon/Images/explosher.jpg
lib/Weapon/Images/furo_deco.jpg
lib/Weapon/Images/furo.jpg
lib/Weapon/Images/h3reelgun_cherry.jpg
lib/Weapon/Images/h3reelgun_d.jpg
lib/Weapon/Images/h3reelgun.jpg
lib/Weapon/Images/heroblaster_replica.jpg
lib/Weapon/Images/herobrush_replica.jpg
lib/Weapon/Images/herocharger_replica.jpg
lib/Weapon/Images/heromaneuver_replica.jpg
lib/Weapon/Images/heroroller_replica.jpg
lib/Weapon/Images/heroshelter_replica.jpg
lib/Weapon/Images/heroshooter_replica.jpg
lib/Weapon/Images/heroslosher_replica.jpg
lib/Weapon/Images/herospinner_replica.jpg
lib/Weapon/Images/hissen_hue.jpg
lib/Weapon/Images/hissen.jpg
lib/Weapon/Images/hokusai_becchu.jpg
lib/Weapon/Images/hokusai_hue.jpg
lib/Weapon/Images/hokusai.jpg
lib/Weapon/Images/hotblaster_custom.jpg
lib/Weapon/Images/hotblaster.jpg
lib/Weapon/Images/hydra_custom.jpg
lib/Weapon/Images/hydra.jpg
lib/Weapon/Images/jetsweeper_custom.jpg
lib/Weapon/Images/jetsweeper.jpg
lib/Weapon/Images/kelvin525_becchu.jpg
lib/Weapon/Images/kelvin525_deco.jpg
lib/Weapon/Images/kelvin525.jpg
lib/Weapon/Images/kugelschreiber_hue.jpg
lib/Weapon/Images/kugelschreiber.jpg
lib/Weapon/Images/l3reelgun_becchu.jpg
lib/Weapon/Images/l3reelgun_d.jpg
lib/Weapon/Images/l3reelgun.jpg
lib/Weapon/Images/liter4k_custom.jpg
lib/Weapon/Images/liter4k_scope_custom.jpg
lib/Weapon/Images/liter4k_scope.jpg
lib/Weapon/Images/liter4k.jpg
lib/Weapon/Images/longblaster_custom.jpg
lib/Weapon/Images/longblaster_necro.jpg
lib/Weapon/Images/longblaster.jpg
lib/Weapon/Images/maneuver_becchu.jpg
lib/Weapon/Images/maneuver_collabo.jpg
lib/Weapon/Images/maneuver.jpg
lib/Weapon/Images/momiji.jpg
lib/Weapon/Images/nautilus47.jpg
lib/Weapon/Images/nautilus79.jpg
lib/Weapon/Images/nova_becchu.jpg
lib/Weapon/Images/nova_neo.jpg
lib/Weapon/Images/nova.jpg
lib/Weapon/Images/nzap83.jpg
lib/Weapon/Images/nzap85.jpg
lib/Weapon/Images/nzap89.jpg
lib/Weapon/Images/ochiba.jpg
lib/Weapon/Images/octoshooter_replica.jpg
lib/Weapon/Images/pablo_hue.jpg
lib/Weapon/Images/pablo_permanent.jpg
lib/Weapon/Images/pablo.jpg
lib/Weapon/Images/parashelter_sorella.jpg
lib/Weapon/Images/parashelter.jpg
lib/Weapon/Images/prime_becchu.jpg
lib/Weapon/Images/prime_collabo.jpg
lib/Weapon/Images/prime.jpg
lib/Weapon/Images/promodeler_mg.jpg
lib/Weapon/Images/promodeler_pg.jpg
lib/Weapon/Images/promodeler_rg.jpg
lib/Weapon/Images/quadhopper_black.jpg
lib/Weapon/Images/quadhopper_white.jpg
lib/Weapon/Images/rapid_becchu.jpg
lib/Weapon/Images/rapid_deco.jpg
lib/Weapon/Images/rapid_elite_deco.jpg
lib/Weapon/Images/rapid_elite.jpg
lib/Weapon/Images/rapid.jpg
lib/Weapon/Images/screwslosher_becchu.jpg
lib/Weapon/Images/screwslosher_neo.jpg
lib/Weapon/Images/screwslosher.jpg
lib/Weapon/Images/sharp_neo.jpg
lib/Weapon/Images/sharp.jpg
lib/Weapon/Images/soytuber_custom.jpg
lib/Weapon/Images/soytuber.jpg
lib/Weapon/Images/splatcharger_becchu.jpg
lib/Weapon/Images/splatcharger_collabo.jpg
lib/Weapon/Images/splatcharger.jpg
lib/Weapon/Images/splatroller_becchu.jpg
lib/Weapon/Images/splatroller_collabo.jpg
lib/Weapon/Images/splatroller.jpg
lib/Weapon/Images/splatscope_becchu.jpg
lib/Weapon/Images/splatscope_collabo.jpg
lib/Weapon/Images/splatscope.jpg
lib/Weapon/Images/splatspinner_becchu.jpg
lib/Weapon/Images/splatspinner_collabo.jpg
lib/Weapon/Images/splatspinner.jpg
lib/Weapon/Images/sputtery_clear.jpg
lib/Weapon/Images/sputtery_hue.jpg
lib/Weapon/Images/sputtery.jpg
lib/Weapon/Images/spygadget_becchu.jpg
lib/Weapon/Images/spygadget_sorella.jpg
lib/Weapon/Images/spygadget.jpg
lib/Weapon/Images/squiclean_a.jpg
lib/Weapon/Images/squiclean_b.jpg
lib/Weapon/Images/squiclean_g.jpg
lib/Weapon/Images/sshooter_becchu.jpg
lib/Weapon/Images/sshooter_collabo.jpg
lib/Weapon/Images/sshooter.jpg
lib/Weapon/Images/variableroller_foil.jpg
lib/Weapon/Images/variableroller.jpg
lib/Weapon/Images/wakaba.jpg
lib/Weapon/Pictures/.52ガロン.jpg
lib/Weapon/Pictures/.52ガロンデコ.jpg
lib/Weapon/Pictures/.52ガロンベッチュー.jpg
lib/Weapon/Pictures/.96ガロン.jpg
lib/Weapon/Pictures/.96ガロンデコ.jpg
lib/Weapon/Pictures/4Kスコープ.jpg
lib/Weapon/Pictures/4Kスコープカスタム.jpg
lib/Weapon/Pictures/14式竹筒銃・乙.jpg
lib/Weapon/Pictures/14式竹筒銃・甲.jpg
lib/Weapon/Pictures/14式竹筒銃・丙.jpg
lib/Weapon/Pictures/H3リールガン.jpg
lib/Weapon/Pictures/H3リールガンD.jpg
lib/Weapon/Pictures/H3リールガンチェリー.jpg
lib/Weapon/Pictures/L3リールガン.jpg
lib/Weapon/Pictures/L3リールガンD.jpg
lib/Weapon/Pictures/L3リールガンベッチュー.jpg
lib/Weapon/Pictures/N-ZAP83.jpg
lib/Weapon/Pictures/N-ZAP85.jpg
lib/Weapon/Pictures/N-ZAP89.jpg
lib/Weapon/Pictures/Rブラスターエリート.jpg
lib/Weapon/Pictures/Rブラスターエリートデコ.jpg
lib/Weapon/Pictures/ヴァリアブルローラー.jpg
lib/Weapon/Pictures/ヴァリアブルローラーフォイル.jpg
lib/Weapon/Pictures/エクスプロッシャー.jpg
lib/Weapon/Pictures/エクスプロッシャーカスタム.jpg
lib/Weapon/Pictures/オーバーフロッシャー.jpg
lib/Weapon/Pictures/オーバーフロッシャーデコ.jpg
lib/Weapon/Pictures/オクタシューター レプリカ.jpg
lib/Weapon/Pictures/おちばシューター.jpg
lib/Weapon/Pictures/カーボンローラー.jpg
lib/Weapon/Pictures/カーボンローラーデコ.jpg
lib/Weapon/Pictures/キャンピングシェルター.jpg
lib/Weapon/Pictures/キャンピングシェルターカーモ.jpg
lib/Weapon/Pictures/キャンピングシェルターソレーラ.jpg
lib/Weapon/Pictures/クアッドホッパーブラック.jpg
lib/Weapon/Pictures/クアッドホッパーホワイト.jpg
lib/Weapon/Pictures/クーゲルシュライバー・ヒュー.jpg
lib/Weapon/Pictures/クーゲルシュライバー.jpg
lib/Weapon/Pictures/クラッシュブラスター.jpg
lib/Weapon/Pictures/クラッシュブラスターネオ.jpg
lib/Weapon/Pictures/ケルビン525.jpg
lib/Weapon/Pictures/ケルビン525デコ.jpg
lib/Weapon/Pictures/ケルビン525ベッチュー.jpg
lib/Weapon/Pictures/ジェットスイーパー.jpg
lib/Weapon/Pictures/ジェットスイーパーカスタム.jpg
lib/Weapon/Pictures/シャープマーカー.jpg
lib/Weapon/Pictures/シャープマーカーネオ.jpg
lib/Weapon/Pictures/スクイックリンα.jpg
lib/Weapon/Pictures/スクイックリンβ.jpg
lib/Weapon/Pictures/スクイックリンγ.jpg
lib/Weapon/Pictures/スクリュースロッシャー.jpg
lib/Weapon/Pictures/スクリュースロッシャーネオ.jpg
lib/Weapon/Pictures/スクリュースロッシャーベッチュー.jpg
lib/Weapon/Pictures/スパイガジェット.jpg
lib/Weapon/Pictures/スパイガジェットソレーラ.jpg
lib/Weapon/Pictures/スパイガジェットベッチュー.jpg
lib/Weapon/Pictures/スパッタリー・ヒュー.jpg
lib/Weapon/Pictures/スパッタリー.jpg
lib/Weapon/Pictures/スパッタリークリア.jpg
lib/Weapon/Pictures/スプラシューター.jpg
lib/Weapon/Pictures/スプラシューターコラボ.jpg
lib/Weapon/Pictures/スプラシューターベッチュー.jpg
lib/Weapon/Pictures/スプラスコープ.jpg
lib/Weapon/Pictures/スプラスコープコラボ.jpg
lib/Weapon/Pictures/スプラスコープベッチュー.jpg
lib/Weapon/Pictures/スプラスピナー.jpg
lib/Weapon/Pictures/スプラスピナーコラボ.jpg
lib/Weapon/Pictures/スプラスピナーベッチュー.jpg
lib/Weapon/Pictures/スプラチャージャー.jpg
lib/Weapon/Pictures/スプラチャージャーコラボ.jpg
lib/Weapon/Pictures/スプラチャージャーベッチュー.jpg
lib/Weapon/Pictures/スプラマニューバー.jpg
lib/Weapon/Pictures/スプラマニューバーコラボ.jpg
lib/Weapon/Pictures/スプラマニューバーベッチュー.jpg
lib/Weapon/Pictures/スプラローラー.jpg
lib/Weapon/Pictures/スプラローラーコラボ.jpg
lib/Weapon/Pictures/スプラローラーベッチュー.jpg
lib/Weapon/Pictures/ソイチューバー.jpg
lib/Weapon/Pictures/ソイチューバーカスタム.jpg
lib/Weapon/Pictures/ダイナモローラー.jpg
lib/Weapon/Pictures/ダイナモローラーテスラ.jpg
lib/Weapon/Pictures/ダイナモローラーベッチュー.jpg
lib/Weapon/Pictures/デュアルスイーパー.jpg
lib/Weapon/Pictures/デュアルスイーパーカスタム.jpg
lib/Weapon/Pictures/ノヴァブラスター.jpg
lib/Weapon/Pictures/ノヴァブラスターネオ.jpg
lib/Weapon/Pictures/ノヴァブラスターベッチュー.jpg
lib/Weapon/Pictures/ノーチラス47.jpg
lib/Weapon/Pictures/ノーチラス79.jpg
lib/Weapon/Pictures/パーマネント・パブロ.jpg
lib/Weapon/Pictures/ハイドラント.jpg
lib/Weapon/Pictures/ハイドラントカスタム.jpg
lib/Weapon/Pictures/バケットスロッシャー.jpg
lib/Weapon/Pictures/バケットスロッシャーソーダ.jpg
lib/Weapon/Pictures/バケットスロッシャーデコ.jpg
lib/Weapon/Pictures/パブロ・ヒュー.jpg
lib/Weapon/Pictures/パブロ.jpg
lib/Weapon/Pictures/パラシェルター.jpg
lib/Weapon/Pictures/パラシェルターソレーラ.jpg
lib/Weapon/Pictures/バレルスピナー.jpg
lib/Weapon/Pictures/バレルスピナーデコ.jpg
lib/Weapon/Pictures/バレルスピナーリミックス.jpg
lib/Weapon/Pictures/ヒーローシェルター レプリカ.jpg
lib/Weapon/Pictures/ヒーローシューター レプリカ.jpg
lib/Weapon/Pictures/ヒーロースピナー レプリカ.jpg
lib/Weapon/Pictures/ヒーロースロッシャー レプリカ.jpg
lib/Weapon/Pictures/ヒーローチャージャー レプリカ.jpg
lib/Weapon/Pictures/ヒーローブラシ レプリカ.jpg
lib/Weapon/Pictures/ヒーローブラスター レプリカ.jpg
lib/Weapon/Pictures/ヒーローマニューバー レプリカ.jpg
lib/Weapon/Pictures/ヒーローローラー レプリカ.jpg
lib/Weapon/Pictures/ヒッセン・ヒュー.jpg
lib/Weapon/Pictures/ヒッセン.jpg
lib/Weapon/Pictures/プライムシューター.jpg
lib/Weapon/Pictures/プライムシューターコラボ.jpg
lib/Weapon/Pictures/プライムシューターベッチュー.jpg
lib/Weapon/Pictures/プロモデラーMG.jpg
lib/Weapon/Pictures/プロモデラーPG.jpg
lib/Weapon/Pictures/プロモデラーRG.jpg
lib/Weapon/Pictures/ボールドマーカー.jpg
lib/Weapon/Pictures/ボールドマーカー7.jpg
lib/Weapon/Pictures/ボールドマーカーネオ.jpg
lib/Weapon/Pictures/ホクサイ・ヒュー.jpg
lib/Weapon/Pictures/ホクサイ.jpg
lib/Weapon/Pictures/ホクサイベッチュー.jpg
lib/Weapon/Pictures/ホットブラスター.jpg
lib/Weapon/Pictures/ホットブラスターカスタム.jpg
lib/Weapon/Pictures/ボトルガイザー.jpg
lib/Weapon/Pictures/ボトルガイザーフォイル.jpg
lib/Weapon/Pictures/もみじシューター.jpg
lib/Weapon/Pictures/ラピッドブラスター.jpg
lib/Weapon/Pictures/ラピッドブラスターデコ.jpg
lib/Weapon/Pictures/ラピッドブラスターベッチュー.jpg
lib/Weapon/Pictures/リッター4K.jpg
lib/Weapon/Pictures/リッター4Kカスタム.jpg
lib/Weapon/Pictures/ロングブラスター.jpg
lib/Weapon/Pictures/ロングブラスターカスタム.jpg
lib/Weapon/Pictures/ロングブラスターネクロ.jpg
lib/Weapon/Pictures/わかばシューター.jpg
